@charset "UTF-8";
$font: "Roboto", sans-serif;



////////////////////////////////////////////////////////////////////////////////////////
/* page */
////////////////////////////////////////////////////////////////////////////////////////

body {
  /*background-color: #fffcf0;*/
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-tap-highlight-color: transparent;
}

//#graphMain {
//  cursor: default;
//}


h1 {
  width: 1000px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 3.0em;
  font-weight: 700;
  color: #302833;
  font-family: $font;
}

#h1 select:focus {
  outline: 0;
}

#h2Container{
  width: 1000px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 2.0em;  // default h2 is 1.5em
  font-weight: 600;
  color: #302833;
  font-family: $font;
  display: none;
}

#h2Main {
  width: 500px;
  margin: 0;
  float :left;
}

#h2Sub {
  width: 500px;
  margin: 0;
  float :right;
}

.node_link {
  fill: #352622;
  font-size: 0.8em;
  font-family: $font;
}

////////////////////////////////////////////////////////////////////////////////////////
/* selector */
////////////////////////////////////////////////////////////////////////////////////////
/* data type */
#dataTypeContainer {
  width: 1000px;
  /*height: 70px;*/
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  /*font-size: 3.5em;*/
  color: #302833;
  font-family: $font;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /*background: transparent;*/
  //position: relative;
  z-index: 1;
  padding: 0 30px 0 5px;
  border: 1px solid #b4b3b3;
  /*border-bottom: 1px solid #b4b3b3;*/
  border-radius: 2px;

  background: url(arrow.svg) no-repeat right 5px bottom 45%;
  background-size: 15px, 100%;
}

select::-ms-expand {
  display: none;
}


////////////////////////////////////////////////////////////////////////////////////////
/* mouse action */
////////////////////////////////////////////////////////////////////////////////////////
/*
## default setting ##
## Node ##
- opacity: 0.6
- stroke: #fffcf9
- stroke-width: 1.0

## Link ##
- opacity: 0.5

## Label ##
- opacity: 0.8
- font-size: 0.7em
- font-weight: 300

*/


// highlight
$highlight_node_opacity: 0.8;
$highlight_text_opacity: 1.0;
$highlight_line_opacity: 1.0;


// fade
$fade_fill_color: #E5E5E5;
$fade_stroke_color: #bfbec5;
$fade_text_opacity: 0.3;

// return(default)
$default_line_opacity: 0.5;


/* default color(gradient for each link) */
// flavor
@for $i from 0 through 367 {
  .linkFlavor#{$i} {
    stroke: url(#gradientFlavor#{$i});
  }
}

// umami
@for $i from 0 through 361 {
  .linkUmami#{$i} {
    stroke: url(#gradientUmami#{$i});
  }
}


/* mouseover */
.selectedNode{
  opacity: $highlight_node_opacity;

  //stroke: #000000;
  //stroke-width: 2;
  //stroke-linecap: round;
  //stroke-dasharray: 0.2, 3;
}

.highlightNode {
  opacity: 1.0;
  fill: none;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-dasharray: 0.4, 6;

 animation: animation 10s linear infinite;
}

@keyframes animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.nodeColor {
  opacity: $highlight_node_opacity;
}

.lineColor {
  opacity: $highlight_line_opacity;
}

.selectedNodeText {
  opacity: $highlight_text_opacity;
  font-weight: 500;
  font-size: 1.0em;
  //text-decoration-line: underline;
  pointer-events: none;
}

.linkedNodeText {
  opacity: $highlight_text_opacity;
  font-weight: 400;
  font-size: 0.80em;
}


/* mouseover 1stLinked(multi mode) */
.nodeColor_1stLinked {
  opacity: $highlight_node_opacity;

}

.lineColor_1stLinked {
  opacity: $highlight_line_opacity;
}

.linkedNodeText_1stLinked {
  //fill: #0000ff;
  //text-decoration-line: underline;
  //text-decoration-color: #0000ff;
  pointer-events: none;
}


/* click */
.nodeColorFadeNonDrag {
  fill: $fade_fill_color;
  stroke: $fade_stroke_color;
  pointer-events: none;
}

.nodeColorFade {
  fill: $fade_fill_color;
  stroke: $fade_stroke_color;
}

.nodeTextFade {
  opacity: $fade_text_opacity;
  pointer-events: none;
}

.lineColorFade {
  stroke: $fade_fill_color;
  opacity: $default_line_opacity;
}


////////////////////////////////////////////////////////////////////////////////////////
/* selected node info */
////////////////////////////////////////////////////////////////////////////////////////
/* area */
$grid-width: 500px;
$grid-height: 325px;
$mobile-height-ratio: 1.9;


#visGrid{
  width: 500px * 2;
  height: 325px * 2;
  grid-template-columns: 500px 500px;
  grid-template-rows: 325px 325px;
  display: grid;
}

#detailMain {
  width: $grid-width - 2px;
  height: $grid-height - 2px;
  border: 1px solid #fc9f94;
  grid-template-columns: ($grid-width / 2) ($grid-width / 2);
  grid-template-rows: $grid-height;
  display: none;
}

#detailSub {
  width: $grid-width - 2px;
  height: $grid-height - 2px;
  border: 1px solid #fc9f94;
  grid-template-columns: ($grid-width / 2) ($grid-width / 2);
  grid-template-rows: $grid-height;
  display: none;
}

#detailMobile {
  width: $grid-width * 2 - 2px;
  height: $grid-height * $mobile-height-ratio - 2px;
  border: 1px solid #fc9f94;
  grid-template-columns: $grid-width $grid-width;
  grid-template-rows: $grid-height * $mobile-height-ratio;
  display: none;
}

.detail {
  width: $grid-width / 2;
  height: $grid-height;
  overflow: scroll;
}

.detailMobile {
  width: $grid-width;
  height: $grid-height * $mobile-height-ratio;
  overflow: scroll;
  font-size: 2.2em;
}

/* text */
.detailTextClass{
  text-align: left;
  line-height: 150%;
  color: #302833;
  font-family: $font;
}


.detailSelectedIntro {
  font-size: 0.7em;
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: 10px;
  @extend .detailTextClass;
}

.detailSelected {
  font-size: 0.7em;
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 10px;
  @extend .detailTextClass;

  span{
    font-size: 1.5em;
    font-weight: 500;
  }
}

.detailTitle {
  font-size: 0.8em;
  margin-top: 10px;
  margin-bottom: 3px;
  margin-left: 10px;
  @extend .detailTextClass;

  span{
    font-weight: 500;
    text-decoration-line: underline;
    text-decoration-color: #aa0000;
  }
}


.detailText {
  font-size: 0.8em;
  margin-top: 3px;
  margin-bottom: 2px;
  margin-left: 15px;
  @extend .detailTextClass;
}

