@charset "UTF-8";


////////////////////////////////////////////////////////////////////////////////////////
/* page */
////////////////////////////////////////////////////////////////////////////////////////

body {
  /*background-color: #fffcf0;*/
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-tap-highlight-color: transparent;
}

//#graphMain {
//  cursor: default;
//}


h1 {
  width: 1000px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 3.0em;
  color: #302833;
  font-family: "Helvetica Neue", "Arial", sans-serif;
}

#h1 select:focus {
  outline: 0;
}

.node_link {
  fill: #352622;
  font-size: 0.8em;
  font-family: "Helvetica Neue", "Arial", sans-serif;
}

////////////////////////////////////////////////////////////////////////////////////////
/* selector */
////////////////////////////////////////////////////////////////////////////////////////
/* data type */
#dataTypeContainer {
  width: 1000px;
  /*height: 70px;*/
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  /*font-size: 3.5em;*/
  color: #302833;
  font-family: "Helvetica Neue", "Arial", sans-serif;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /*background: transparent;*/
  position: relative;
  z-index: 1;
  padding: 0 40px 0 10px;
  border: 1px solid #b4b3b3;
  /*border-bottom: 1px solid #b4b3b3;*/
  border-radius: 2px;

  background: url(arrow.svg) no-repeat right 5px bottom 45%;
  background-size: 15px, 100%;
}

select::-ms-expand {
  display: none;
}


////////////////////////////////////////////////////////////////////////////////////////
/* mouse action */
////////////////////////////////////////////////////////////////////////////////////////
// highlight
$highlight_node_opacity: 0.8;
$highlight_text_opacity: 1.0;
$highlight_line_opacity: 1.0;
$highlight_color: #d70035;

$highlight_color_2nd: #3500d7;


// fade
$fade_fill_color: #E5E5E5;
$fade_stroke_color: #bfbec5;
$fade_text_opacity: 0.3;

// return(default)
$default_line_opacity: 0.5;


/* mouseover */
.nodeColor {
  stroke: $highlight_color;
  stroke-width: 2;
  opacity: $highlight_node_opacity;
  //cursor: -webkit-grab;
  //cursor: -moz-grab;
  //cursor: grab;
}


.linkedNodeText {
  opacity: $highlight_text_opacity;
  font-weight: 500;
  font-size: 0.85em;
  pointer-events: none;
  //cursor: default;
}


.lineColor {
  stroke: $highlight_color;
  opacity: $highlight_line_opacity;
}


/* mouseover 2nd(multi mode) */
.nodeColor_2nd {
  stroke: $highlight_color_2nd;
  stroke-width: 2;
  opacity: $highlight_node_opacity;
  pointer-events: none;
  cursor: default;
  //cursor: -webkit-grab;
  //cursor: -moz-grab;
  //cursor: grab;
}

.lineColor_2nd {
  stroke: $highlight_color_2nd;
  opacity: $highlight_line_opacity;
}


/* click */
.nodeColorFadeNonDrag {
  fill: $fade_fill_color;
  stroke: $fade_stroke_color;
  pointer-events: none;
}

.nodeColorFade {
  fill: $fade_fill_color;
  stroke: $fade_stroke_color;
  //cursor: -webkit-grab;
  //cursor: -moz-grab;
  //cursor: grab;
}

.nodeTextFade {
  opacity: $fade_text_opacity;
  pointer-events: none;
  cursor: default;
}

.lineColorFade {
  stroke: $fade_fill_color;
  opacity: $default_line_opacity;
}


/* return(default color) */
//.nodeReturnFade {
//}
//
//.nodeTextReturnFade {
//  //pointer-events: none;
//  //cursor: default;
//}
//
//.lineReturnFade {
//  //opacity: $default_line_opacity;
//}


////////////////////////////////////////////////////////////////////////////////////////
/* selected node info */
////////////////////////////////////////////////////////////////////////////////////////
/* area */
$grid-width: 500px;
$grid-height: 325px;


#visGrid{
  width: 500px * 2;
  height: 325px * 2;
  grid-template-columns: 500px 500px;
  grid-template-rows: 325px 325px;
  display: grid;
}

#detailMain {
  width: $grid-width - 2px;
  height: $grid-height - 2px;
  border: 1px solid #fc9f94;
  grid-template-columns: ($grid-width / 2) ($grid-width / 2);
  grid-template-rows: $grid-height;
  display: none;
}

#detailSub {
  width: $grid-width - 2px;
  height: $grid-height - 2px;
  border: 1px solid #fc9f94;
  grid-template-columns: ($grid-width / 2) ($grid-width / 2);
  grid-template-rows: $grid-height;
  display: none;
}

.detail {
  width: $grid-width / 2;
  height: $grid-height;
  overflow: scroll;
}

/* text */
.detailSelected {
  font-size: 0.8em;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 10px;
  text-align: left;
  font-weight: 600;
  line-height: 150%;
  color: #302833;
  text-decoration: underline;
  font-family: "ヒラギノ角ゴ ProN W3", "游ゴシック体", sans-serif;
}

//.detailSelected2nd{
//    margin-top: -5px;
//    margin-bottom: 0px;
//    margin-left: 25px;
//    text-align: left;
//    font-weight: 600;
//    line-height: 150%;
//    color: #302833;
//    text-decoration: underline;
//    font-family: "ヒラギノ角ゴ ProN W3","游ゴシック体",sans-serif;
//}
//
//.detailSelected2nd_{
//    margin-top: 10px;
//    margin-bottom: 0;
//    margin-left: 10px;
//    text-align: left;
//    font-weight: 300;
//    line-height: 130%;
//    color: #302833;
//    font-family: "ヒラギノ角ゴ ProN W3","游ゴシック体",sans-serif;
//}

.detailTitle {
  font-size: 0.8em;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 10px;
  text-align: left;
  font-weight: 500;
  line-height: 150%;
  color: #302833;
  font-family: "ヒラギノ角ゴ ProN W3", "游ゴシック体", sans-serif;
}


.detailText {
  font-size: 0.8em;
  margin-top: 3px;
  margin-bottom: 2px;
  margin-left: 15px;
  text-align: left;
  font-weight: 400;
  line-height: 150%;
  color: #0000FF;
  text-decoration: underline;
  font-family: "ヒラギノ角ゴ ProN W3", "游ゴシック体", sans-serif;
  cursor: pointer;
}

