@charset "UTF-8";

body {
  /*background-color: #fffcf0;*/
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-tap-highlight-color: transparent;
}

#myGraph {
  width: 1200px;
  height: 900px;
  border: 1px solid #ff8e1e;
  /*background-color: #fff5e3;*/
  align: center;
  cursor: default;
}

h1 {
  width: 1200px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 3.5em;
  color: #302833;
  font-family: "Helvetica Neue", "Arial", sans-serif;
}

.node_link {
  fill: #352622;
  font-size: 0.8em;
  font-family: "Helvetica Neue", "Arial", sans-serif;
}

#description {
  text-align: center;
}

p {
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  text-align: left;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 150%;
  color: #a9a9a9;
  font-family: "Helvetica Neue", "Arial", sans-serif;
}

#name {
  margin-top: 3px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  text-align: center;
  font-size: 1.0em;
  font-weight: 300;
  line-height: 150%;
  color: #a9a9a9;
  font-family: "Helvetica Neue", "Arial", sans-serif;
}

#dataTypeContainer{
  width: 1200px;
  /*height: 70px;*/
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 3.5em;
  color: #302833;
  font-family: "Helvetica Neue", "Arial", sans-serif;
}


svg {
  margin-bottom: 5px;
}

/* mouseover */
.nodeColor {
  stroke: #d70035;
  stroke-width: 2;
  opacity: 0.8;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

.nodeText {
  font-weight: 500;
  font-size: 0.95em;
  pointer-events: none;
  cursor: default;


  /* animation */
  animation: animScaleNodeText 0.15s linear;
  animation-play-state: running;
}

.linkedNodeText {
  font-weight: 500;
  font-size: 0.85em;
  pointer-events: none;
  cursor: default;


  /* animation */
  animation: animScaleNodeText 0.15s linear;
  animation-play-state: running;

}

@keyframes animScaleNodeText {
  0% {
    font-size: 1.0em;
  }
  50% {
    font-size: 1.1em;
  }
  100% {
    font-size: 1.0em;
  }
}

.lineColor {
  stroke: #d70035;
  opacity: 1.0;
}

/* mouseout */
.nodeColorDefault {
  opacity: 0.6;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

.textSizeDefault {
  pointer-events: none;
}

.lineColorDefault {
  opacity: 0.5;
}

/* click */
.nodeColorFade {
  fill: #E5E5E5;
  stroke: #bfbec5;
  opacity: 0.6;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
  transition-duration: 0.5s;
  pointer-events: none;
}

.nodeColorFadeSp {
  fill: #E5E5E5;
  stroke: #bfbec5;
  opacity: 0.6;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
  transition-duration: 0.5s;
}

.nodeTextFade {
  opacity: 0.3;
  pointer-events: none;
  transition-duration: 0.5s;
  pointer-events: none;
  cursor: default;

}

.lineColorFade {
  stroke: #E5E5E5;
  opacity: 0.5;
  transition-duration: 0.5s;

}

.nodeReturnFade {
  opacity: 0.6;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
  transition-duration: 0.5s;
}

.nodeTextReturnFade {
  opacity: 1.0;
  pointer-events: none;
  transition-duration: 0.5s;
  cursor: default;

}

.lineReturnFade {
  opacity: 0.5;
  transition-duration: 0.5s;
}

/* for text not to drag */
.nonDrag {
  pointer-events: none;
  cursor: default;

}

/* legend filter */
.filteredCircle {
  stroke-width: 0.5;

  /* bound animation */
  animation: animScaleCircle 20s ease-out;
  animation-play-state: running;

}

@keyframes animScaleCircle {
  0% {
    transform: scale(0.8, 0.8);
  }
  1% {
    transform: scale(2.2, 2.2);
  }
  2% {
    transform: scale(1.6, 1.6);
  }
  3% {
    transform: scale(2.1, 2.1);
  }
  4% {
    transform: scale(1.9, 1.9);
  }
  5% {
    transform: scale(2.0, 2.0);
  }
  6% {
    transform: scale(1.95, 1.95);
  }
  7% {
    transform: scale(2.0, 2.0);
  }
  8% {
    transform: scale(1.97, 1.97);
  }
  9% {
    transform: scale(2.0, 2.0);
  }
  10% {
    transform: scale(1.99, 1.99);
  }
  11% {
    transform: scale(2.0, 2.0);
  }
  100% {
    transform: scale(2.0, 2.0);
  }
}

.filteredText {
  pointer-events: none;
  cursor: default;


  /* bound animation */
  animation: animScaleText 20s ease-out;
  animation-play-state: running;

}

@keyframes animScaleText {
  0% {
    transform: scale(0.8, 0.8);
  }
  1% {
    transform: scale(1.1, 1.1);
  }
  2% {
    transform: scale(1.0, 1.0);
  }
  3% {
    transform: scale(1.1, 1.1);
  }
  4% {
    transform: scale(1.0, 1.0);
  }
  5% {
    transform: scale(1.1, 1.1);
  }
  6% {
    transform: scale(1.05, 1.05);
  }
  7% {
    transform: scale(1.1, 1.1);
  }
  8% {
    transform: scale(1.07, 1.07);
  }
  9% {
    transform: scale(1.1, 1.1);
  }
  10% {
    transform: scale(1.09, 1.09);
  }
  11% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1.1, 1.1);
  }
}

.returnFilteredCircle {
  stroke-width: 1;

  /* animation */
  animation: animScaleCircleReturn 0.3s ease-out;
  animation-play-state: running;

}

@keyframes animScaleCircleReturn {
  0% {
    transform: scale(2.0, 2.0);
  }
  100% {
    transform: scale(1.0, 1.0);
  }
}

.returnFilteredText {
  pointer-events: none;
  cursor: default;


  /* animation */
  animation: animScaleTextReturn 0.3s ease-out;
  animation-play-state: running;

}

@keyframes animScaleTextReturn {
  0% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1.0, 1.0);
  }
}

/* grab & grabing */

.svg_grabing {
  margin-bottom: 50px;
  cursor: -webkit-grabbing;
}


